
# ngrok region - ap/eu/us
NGROK_REGION=ap

# ngrok auth key - you can get it after registration at https://ngrok.com/
# after registration, head to https://dashboard.ngrok.com/get-started/setup
# your api key is at Section 2. Connect your account. 
# <Change Required>
NGROK_AUTH=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# proxy if you are behind corporate proxy
# <Change Required>
http_proxy=http://proxy.if.there.is.com:8080